name: CI - Test and Integration Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-integrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'        # <--- Active le cache pip automatiquement

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run All Unit Tests
        run: pytest -v

      - name: Run Integration Test (Light Training)
        env:
          FAST_MODE: "true"   # <--- Permet un mode rapide dans ton script
        run: python -m src.model_training
